<% layout("./layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br>
      <h2>Create New Listing</h2>

      <form action="/listings" method="POST" novalidate class="needs-validation">
        <div>
          <label class="form-label" for="title">Title:</label>
          <input class="form-control mb-3" type="text" id="title" name="listing[title]" required />
          <div class="invalid-feedback">Pleease Enter a Title!</div>
        </div>

        <div>
          <label class="form-label" for="description">Description:</label>
          <textarea class="form-control mb-3" id="description" name="listing[description]" rows="4" required></textarea>
          <div class="invalid-feedback">Pleease Enter a Description!</div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <label class="form-label" for="price">Price (INR):</label>
            <input class="form-control mb-3" type="" id="price" name="listing[price]" required />
            <div class="invalid-feedback">Pleease Enter a Valid Price!</div>
          </div>
          <div class="col-md-8">
            <label class="form-label" for="country">Country:</label>
            <input class="form-control mb-3" type="text" id="country" name="listing[country]" required />
            <div class="invalid-feedback">Pleease Enter a Country!</div>
          </div>
        </div>

        <div>
          <label class="form-label" for="location">Location:</label>
          <input class="form-control mb-3" type="text" id="location" name="listing[location]" required />
          <div class="invalid-feedback">Pleease Enter a Location!</div>

        </div>

        <div>
          <label class="form-label" for="image">Image URL:</label>
          <input class="form-control mb-3" type="text" id="image" name="listing[image]" />
        </div>

        <button type="submit" class="btn btn-dark add-btn">Create Listing</button>
        <br><br>
      </form>
    </div>
  </div>
</body>
