* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.parent {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 20px;
  justify-content: center;
}

.btn {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 20px;
}

/* Unique Colors for Each Button */
#green {
  background-color: green;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}

.flash{
  background-color: white !important;
}
.userFlash{
  background-color: darkgrey !important;
}