<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<style>
  img{
    height: 300px;
    width: 300px;
  }
</style>
<body>
  <h2>This page belongs to @<%= data.name %></h2>
  <button>Follow</button>
  <button>Messege </button>
  <p>Followers <%= data.Followers %> &nbsp; &nbsp;&nbsp;&nbsp;
  Following <%= data.Following %>
  </p>
  <hr>